@import "../css/reset.css";
@import "../css/common-header-style.css";
@import "../css/body-style.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.main-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto 100px auto;
}

h1 {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 30px;
}

.grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.grid-item img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}


#test {
    display: block;
    /* position: relative; */
    overflow: hidden;
}
#test-img {
    display: block;
    /* position: relative; */
}
.text {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: white;
}
#test-img:hover .text {
    opacity: 1;
}