@import "../css/reset.css";
@import "../css/common-header-style.css";
@import "../css/body-style.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.main-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto 100px auto;
}

h1 {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 30px;
}

.pics-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: 
        "pic-1 pic-1 pic-3 pic-4"
        "pic-2 pic-2 pic-3 pic-4"
        "pic-5 pic-6 pic-7 pic-7"
        "pic-5 pic-6 pic-8 pic-8"
    ;
}

/* responsive design for tablets */
@media screen and (max-width: 1259px) {
    .pics-grid {
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(8, 180px);
        grid-template-areas: 
            "pic-1 pic-1"
            "pic-2 pic-2"
            "pic-3 pic-4"
            "pic-3 pic-4"

            "pic-7 pic-7"
            "pic-8 pic-8"
            "pic-5 pic-6"
            "pic-5 pic-6"
        ;
        justify-content: center;
    }
}

/* responsive design for mobile devices */
@media screen and (max-width: 30em) {
    .pics-grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "pic-1"
            "pic-2"
            "pic-3"
            "pic-3"
            "pic-4"
            "pic-4"

            "pic-7"
            "pic-8"
            "pic-5"
            "pic-5"
            "pic-6"
            "pic-6"
        ;
    }
}

.pic-demo {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: 0.2s;
}
.pic-demo:hover {
    box-shadow: 0 0 15px 5px rgb(129, 129, 129);
}

.pic-1 { 
    grid-area: pic-1;
    overflow: hidden;
}
.pic-2 { 
    grid-area: pic-2;
    overflow: hidden;
}
.pic-3 { 
    grid-area: pic-3; 
    overflow: hidden;
}
.pic-4 { 
    grid-area: pic-4; 
    overflow: hidden;
}
.pic-5 { 
    grid-area: pic-5;
    overflow: hidden; 
}
.pic-6 { 
    grid-area: pic-6; 
    overflow: hidden;
}
.pic-7 { 
    grid-area: pic-7; 
    overflow: hidden;
}
.pic-8 { 
    grid-area: pic-8;
    overflow: hidden; 
}

.pic-1 img {
    object-fit: cover;
    margin: -60px 0 0 0;
}
.pic-2 img {
    object-fit: cover;
    margin: -90px 0 0 0;
}
.pic-3 img {
    object-fit: cover;
}
.pic-4 img {
    object-fit: cover;
    margin: -100px 0 0 60;
}
.pic-5 img {
    object-fit: cover;
    margin: -10px 0 0 0;
}
.pic-6 img {
    object-fit: cover;
}
.pic-7 img {
    object-fit: cover;
    margin: -60px 0 0 0;
}
.pic-8 img {
    object-fit: cover;
    margin: -50px 0 0 0;
}