@import "../css/reset.css";
@import "../css/common-header-style.css";
@import "../css/body-style.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.main-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto 100px auto;
}

h1 {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 30px;
}

.grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid black;
}

.grid-item img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.grid-item figcaption {
    text-align: center;

}


#fig-test {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.fig-container {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

#a-test {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: #34495e;
}
#a-test::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 0.6s;
}
.fig-container::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #2980b9;
    right: 0;
    top: 0;
    transition: 0.6s;
}

.fig-container:hover, #a-test::before, .fig-container:hover::before {
    width: 100%;
}








/* #test {
    display: block;
    position: relative;
    overflow: hidden;
}
#test-img {
    display: block;
    position: relative;
}
.text {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: white;
}
#test-img:hover .text {
    opacity: 1;
} */